# ------------------------------
# Python general
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env
.venv/
pip-wheel-metadata/
pip-log.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# PyInstaller
# 生成されたバイナリを含むフォルダ
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test-results/

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# pyenv / pipenv
.python-version
Pipfile.lock

# mypy / pytype / pyre
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# IDEs and editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# OS / misc
.DS_Store
Thumbs.db

# Logs
*.log

# Local configuration
*.local
*.env
config/*.local.json
